{% from "./thumbnail_macro.html" import Thumb %}

{% extends './base/base.html'%}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">segunda pagina</h1>
      <p class="lead text-muted">jhgafsdhgafsdkjgafsdkjgfasjkdhgahsjkda</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>
{% endblock %} 